<!DOCTYPE html>
{% load static %}
<html>
<head>
    <title>Weather API</title>
    {% block extra_css %}{% endblock %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">

</head>
<body>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/user/logout">Logout</a></li>
            <li><a href="/user/profile/{{request.user.id}}/">Profile</a></li>
        </ul>
    </nav>
    {% if data.alerts %}
        <h2>Weather Alerts:</h2>
        <ul>
            {% for alert in data.alerts %}
                <li>
                    <strong>{{ alert.headline }}</strong>: {{ alert.description }}
                </li>
            {% endfor %}
        </ul>
    {% endif %}

    <main>
    {% block content %}
    {% endblock %}
    </main>
</body>
</html>




