<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather Forecast</title>
    <link rel="stylesheet" href="{% static 'css/daily.css' %}">
</head>
<body>
    <div class="container">
        <h1>Weather Forecast for {{ key }} {{ data.days|length|add:"-1" }} days in {{ data.address }}</h1>
        <div class="card-container" id="cardContainer">
            {% for day in data.days %}
            {% if data.days.0 != day %}
            <div class="card">
                <h2>{{ day.datetime }}</h2>
                <p>Temperature: {{ day.temp }}°C</p>
                <p>Humidity: {{ day.humidity }}%</p>
                <p>Wind Speed: {{ day.windspeed }} km/h</p>
                <p>Description: {{ day.description }}</p>
            </div>
            {% endif %}
            {% endfor %}
        </div>
        <div class="buttons">
            <button onclick="prevSlide()">Previous</button>
            <button onclick="nextSlide()">Next</button>
        </div>
    </div>
    <script src="{% static 'js/slider.js' %}"></script>
</body>
</html>
