<!DOCTYPE html>
{% load static %}
<html>
<head>
    <title>Weather Forecast</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/result.css' %}">
    <script src="{% static 'js/slider.js' %}"></script>
</head>
<body>
    <h1>Weather Forecast</h1>
    <h2>{{ data.resolvedAddress }}</h2>
    <button id='prevSlide'><</button>
    <div class="container">
        {% for day in data.days%}
            <div class="weather-info" style='display: none;'>
                <h3>{{ day.datetime }}</h3>
                <img src="{% static 'icons/' %}{{ day.icon }}.png" alt="Weather Icon" class="weather-icon">
                <p>Temperature: {{ day.temp }}°C</p>
                <p>Humidity: {{ day.humidity }}%</p>
                <p>Wind Speed: {{ day.windspeed }} km/h</p>
                <p>Weather Description: {{ day.conditions }}</p>
            </div>
        {% endfor %}
    </div>
    <button id'nextSlide'>></button>
</body>
</html>