<!DOCTYPE html>
{% load static %}
<html>
<head>
    <title>Welcome to Weather App</title>
    <script src="{% static 'js/index.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
</head>
<body>
    <h1>Welcome to Weather App</h1>
    <p>Thank you for visiting our website!</p>
    <h3 id='mess'></h3>

    <form id="weatherForm" action='/api/weather'>
        <select name="view" id="viewSelect" onchange="updateForm()">
            <option value="placeholder">Type of Response</option>
            <option value="day">Day</option>
            <option value="range">Range</option>
            <option value="next">Next</option>
            <option value="last">Last</option>
            <option value="tty">TTY</option>
            <option value="to_date">To Date</option>
        </select>
        <input type="text" name="location" placeholder="Enter city name" required>
        
        <!-- Date Input (Visible for 'day', 'range', 'to_date') -->
        <input type='date' name='date1' id="date1Input" style="display: none;">
        
        <!-- Second Date Input (Visible for 'range') -->
        <input type='date' name='date2' id="date2Input" style="display: none;">
        
        <!-- Number Input (Visible for 'next', 'last') -->
        <input type='number' name='days' id="daysInput" placeholder="Enter number of days" style="display: none;">

        <!-- Number Input (Visible for 'tty') -->
        <input name='key'></input>
        <select name='key'>
            <option value='today'>Today</option>
            <option value='tomorrow'>Tomorrow</option>
            <option value='yesterday'>Yesterday</option>
            <option value='year'>Year</option>
            <option value='month'>Month</option>
            <option value='weekend'>Weekend</option>
        </select>


        
        <button type="submit">Get Weather</button>
    </form>
    
</body>
</html>