{% extends 'base.html' %}
{% load static %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/auth.css' %}">
{% endblock %}

{% block content %}
<h1>Login</h1>

<form method="post">
    <div class="errors">
        {% for error in form.username.errors %}
            <p class="error"><b>{{ error }}</b></p>
        {% endfor %}
        {% for error in form.password.errors %}
            <p class="error"><b>{{ error }}</b></p>
        {% endfor %}
    </div>
    {% csrf_token %}
    <div class="form-field">
        {{ form.username.label_tag }}
        {{ form.username }}
    </div>

    <div class="form-field">
        {{ form.password.label_tag }}
        {{ form.password }}
    </div>
    <button type="submit">Login</button>
</form>

<button class="register-button" onclick="window.location.href = '/user/register';">Register</button>
{% endblock %}