{% extends 'base.html' %}
{% load static %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/profile.css' %}">
<script src="{% static 'js/profile.js' %}"></script>
{% endblock %}

{% block content %}
<div class="profile-container">
    <h1>Profile</h1>
    <p>Username: {{ user.username }}</p>
    <p>Latitude: <b id='latitude'>{{ user.latitude }}</b></p>
    <p>Longitude: <b id='longitude'>{{ user.longitude }}</b></p>
    <p>City: <b id='city'>{{ user.city }}</b></p>
</div>
{% endblock %}