{% extends 'base.html' %}
{% load static %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/auth.css' %}">
<script src="{% static 'js/register.js' %}"></script>
{% endblock %}

{% block content %}
<div class="header">
    <h1 class="form-title">Registration Form</h1>
</div>

<form method="post" class="auth-form">
    {% csrf_token %}
    <div class="errors">
        {% for error in form.username.errors %}
            <p class="error"><b>{{ error }}</b></p>
        {% endfor %}
        {% for error in form.password1.errors %}
            <p class="error"><b>{{ error }}</b></p>
        {% endfor %}
        {% for error in form.password2.errors %}
            <p class="error"><b>{{ error }}</b></p>
        {% endfor %}
    </div>
    
    <div class="form-field">
        {{ form.username.label_tag }}
        {{ form.username }}
    </div>

    <div class="form-field">
        {{ form.password1.label_tag }}
        {{ form.password1 }}
        {% if form.password1.help_text %}
            <p class="help-text">{{ form.password1.help_text }}</p>
        {% endif %}
    </div>

    <div class="form-field">
        {{ form.password2.label_tag }}
        {{ form.password2 }}
        {% if form.password2.help_text %}
            <p class="help-text">{{ form.password2.help_text }}</p>
        {% endif %}
    </div>
    
    <!-- Hidden fields -->
    {{ form.latitude }}
    {{ form.longitude }}
    {{ form.city }}
    
    <button type="submit" class="auth-button">Register</button>
</form>.
{% endblock %}